@font-face {
    font-family: "CustomFont";
    src: url(vBenguiatkaz.ttf);
}
@font-face {
    font-family: "CustomFont1";
    src: url(vAsylm07.ttf);
}
#myProgress {
    width: 100%;
    background-color: #ddd;
    margin-left: 50px;
    margin-right: 150px;
  }
  
  #myBar {
    width: 10%;
    height: 30px;
background-color: burlywood;
    text-align: center;
    line-height: 30px;
    color: white;
  }



h1{
    font-family: "CustomFont";
    text-align: center;
    font-size: 60px;
    margin: 30px;
    color: white;

}

.citation{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    }  
    .citation img{
    height: 100px;
    width: 100px;
    margin: 20px;
    }

/* Navigation Bar */
.container{
    display: grid;
    justify-content: center;
    align-items: center;
}
.container-fluid{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
#logo{
    float: left;
    height: 100px;
    width: 100px;
    position: static;
    margin: 20px 200px 0 10px ;
}
.navbar-toggler{
    margin: 15px 20px;
    position: relative;
}
.nav-link{
    display: inline;
    text-align: center;
    margin: 0 15px;
}
*{
    font-family: "CustomFont1";
}
body{ 
    background: rgba(0, 0, 0, 0.8) url(back.png);
    background-blend-mode: darken;
    background-size:cover;
    height: 100%; 
    width: 100%; 
    font-family: "CustomFont1";
    font-size: 18px; 
    color: white;
} 
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 115px;
    color: white;
    font-style: italic;
    font-size: 25px;
    font-family: serif;
}
.header img{
    width: 100px;
    height: 80px;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 20px;
}

.invite{ 
    font-style: italic; 
    font-size: 40px; 
    margin-bottom: 20px;
} 
.btn-primary{
    background-color: #633c28;
    border-color: #633c28;
}
.btn-primary:hover{
        color: gray;
        background-color: #633C28;
        border-color: #633C28;
    
}

.button:hover {background-color: #633C28}

.button:active {
  background-color: #633C28;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.footer img{ 
    width: 100px; 
    height: 80px; 
}

.image {
    opacity: 1;
    display: block;
    width: 420px;
    height: 420px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin-left: 230px;
  }
  
  .photki:hover .image {
    opacity: 0.3;
  }
  .photki:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 26px;
    margin: 30px;
    text-align: center;
  }

.container{
    margin-left: 30px;
}
